<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/styles.css">
    <title>Customers Page</title>
  </head>
  <body>
    <header>Customers</header>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" ></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" ></script>
  <nav class="topbars">
    <ul>
		<li class="topbar"><a href="http://flip3.engr.oregonstate.edu:7777/home">Home</a></li>
		<li class="topbar"><a href="http://flip3.engr.oregonstate.edu:7777/products">Products</a></li>
		<li class="topbar"><a href="http://flip3.engr.oregonstate.edu:7777/orders">Orders</a></li>
		<li class="topbar"><a href="http://flip3.engr.oregonstate.edu:7777/customers">Customers</a></li>
		<li class="topbar"><a href="http://flip3.engr.oregonstate.edu:7777/stores">Stores</a></li>
		<li class="topbar"><a href="http://flip3.engr.oregonstate.edu:7777/orderProducts">Order_Products</a></li>
    </ul>
  </nav>
  <div class="customersContainer">
  	<form>
  		<a href="http://flip3.engr.oregonstate.edu:7777/customers">
  		<button type="button">View Customers</button>
  		</a>
  		<a href="http://flip3.engr.oregonstate.edu:7777/modifyCustomers">
  		<button type="button">Add Customer</button><br><br>
  		</a>

  	<table style="width:60%;margin-left:auto;margin-right:auto">
  		<tr>
  		  <th>Customer ID</th>
  		  <th>Email</th>
  		  <th>First name</th>
  		  <th>Last name</th>
  		  <th>Address</th>
  		  <th>Date of Birth</th>
  		  <th>Phone number</th>
  		  <th>City</th>
  		  <th>State</th>
  		  <th>Zipcode</th>
  		  <th>Edit</th>
  		  <th>Delete</th>
  		</tr>
			<tbody>
				{% for r in rows %}
				<tr>
				  <td> {{ r.0 }}</td>
				  <td> {{ r[1] }}</td>
				  <td> {{ r[2] }}</td>
				  <td> {{ r[3] }}</td>
				  <td> {{ r[4] }}</td>
				  <td> {{ r[5] }}</td>
				  <td> {{ r[6] }}</td>
				  <td> {{ r[7] }}</td>
				  <td> {{ r[8] }}</td>
				  <td> {{ r[9] }}</td>
				  <td> <input type='button' name='Update' value='Update' onclick="window.location = '/updateCustomer/{{r[0]}}'"> </td>
				  <td> <input type='button' name='Delete' value='Delete' onclick="window.location = '/deleteCustomer/{{r[0]}}'"> </td>
				</tr>
				{% endfor %}
			  </tbody>
  	  </table>
    </form>
  </div>

  </body>
</html>